@{
    ViewData["Title"] = "Featured List";


<style type="text/css">
    body {
        background-color: black;
        margin: 0;
    }

    h1 {
        color: white;
    }

    div.container-fluid {
        padding: 0.1%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        align-content:center;
    }

    iframe {
        padding: 0.1%;
    }
</style>

}

<div class="text-center">
    <h1 class="display-4">Featured List</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Welcome to music site featured list</a>.</p>

    <h1> Featured</h1>

</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6">
            <a href="https://www.youtube.com/embed/Ssvu2yncgWU" class="thumbnail">
                <iframe width="300" height="200" src="https://www.youtube.com/embed/Ssvu2yncgWU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </a>

        </div>
        <div class="col-xs-6">
            <a href="https://www.youtube.com/watch?v=MkNeIUgNPQ8&list=PLzCxunOM5WFLNCSF0UEHZqFJJlmdeL71S" class="thumbnail">
                <iframe width="300" height="200" src="https://www.youtube.com/watch?v=MkNeIUgNPQ8&list=PLzCxunOM5WFLNCSF0UEHZqFJJlmdeL71S" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </a>
        </div>
        <div class="col-xs-6">
            <a href="https://www.youtube.com/watch?v=b6jK2t3lcRs&list=PLzCxunOM5WFLNCSF0UEHZqFJJlmdeL71S&index=4" class="thumbnail">
                <iframe width="300" height="200" src="https://www.youtube.com/watch?v=b6jK2t3lcRs&list=PLzCxunOM5WFLNCSF0UEHZqFJJlmdeL71S&index=4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </a>

        </div>
        <div class="col-xs-6">
            <a href="https://www.youtube.com/watch?v=-lbbHQbZNKg&list=PLzCxunOM5WFLNCSF0UEHZqFJJlmdeL71S&index=9" class="thumbnail">
                <iframe width="300" height="200" src="https://www.youtube.com/watch?v=-lbbHQbZNKg&list=PLzCxunOM5WFLNCSF0UEHZqFJJlmdeL71S&index=9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </a>

        </div>

    </div>

    <div class="row">
        <div class="col-xs-4">
            <a href="https://www.youtube.com/watch?v=RYgKd-6_Fc4&list=PLzCxunOM5WFLNCSF0UEHZqFJJlmdeL71S&index=13" class="thumbnail">
                <iframe width="300" height="200" src="https://www.youtube.com/watch?v=RYgKd-6_Fc4&list=PLzCxunOM5WFLNCSF0UEHZqFJJlmdeL71S&index=13" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </a>

        </div>
        <div class="col-xs-4">
            <a href="https://www.youtube.com/embed/Ssvu2yncgWU" class="thumbnail">
                <iframe width="300" height="200" src="https://www.youtube.com/embed/Ssvu2yncgWU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </a>
        </div>
        <div class="col-xs-4">
            <a href="https://www.youtube.com/embed/Ssvu2yncgWU" class="thumbnail">
                <iframe width="300" height="200" src="https://www.youtube.com/embed/Ssvu2yncgWU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </a>

        </div>
        <div class="col-xs-4">
            <a href="https://www.youtube.com/embed/3V1VwEKFe0g?list=PLzCxunOM5WFLNCSF0UEHZqFJJlmdeL71S" class="thumbnail"><iframe width="300" height="200" src="https://www.youtube.com/embed/3V1VwEKFe0g?list=PLzCxunOM5WFLNCSF0UEHZqFJJlmdeL71S" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </a>

        </div>

    </div>

    <div class="row">
        <div class="col-xs-4">
            <a href="https://www.youtube.com/watch?v=2D9ri6EkI7s&list=PLzCxunOM5WFLNCSF0UEHZqFJJlmdeL71S&index=23" class="thumbnail">
                <iframe width="300" height="200" src="https://www.youtube.com/watch?v=2D9ri6EkI7s&list=PLzCxunOM5WFLNCSF0UEHZqFJJlmdeL71S&index=23" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </a>

        </div>
        <div class="col-xs-4">
            <a href="https://www.youtube.com/watch?v=03AKy9bhOMU&list=PLzCxunOM5WFLNCSF0UEHZqFJJlmdeL71S&index=29" class="thumbnail">
                <iframe width="300" height="200" src="https://www.youtube.com/watch?v=03AKy9bhOMU&list=PLzCxunOM5WFLNCSF0UEHZqFJJlmdeL71S&index=29" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </a>
        </div>
        <div class="col-xs-4">
            <a href="https://www.youtube.com/watch?v=GPMiFwpX4YY&list=PLzCxunOM5WFLNCSF0UEHZqFJJlmdeL71S&index=35" class="thumbnail">
                <iframe width="300" height="200" src="https://www.youtube.com/watch?v=GPMiFwpX4YY&list=PLzCxunOM5WFLNCSF0UEHZqFJJlmdeL71S&index=35" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </a>

        </div>
        <div class="col-xs-4">
            <a href="https://www.youtube.com/watch?v=GPMiFwpX4YY&list=PLzCxunOM5WFLNCSF0UEHZqFJJlmdeL71S&index=35" class="thumbnail">
                <iframe width="300" height="200" src="https://www.youtube.com/watch?v=GPMiFwpX4YY&list=PLzCxunOM5WFLNCSF0UEHZqFJJlmdeL71S&index=35" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </a>

        </div>

    </div>
</div>






