@{
    ViewData["Title"] = "Home Page";


    <style type="text/css">
        body {
            background-color: black;
            margin: 0;
        }

        h1 {
            color: white;
        }

        div.container-fluid {
            padding: 1%;
        }
    </style>

}

<div class="text-center">
    <h1 class="display-4">Music video site Home page</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h1> Featured</h1>

</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6">
            <a href="https://www.youtube.com/embed/Ssvu2yncgWU" class="thumbnail">
                <iframe width="400" height="200" src="https://www.youtube.com/embed/Ssvu2yncgWU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </a>

        </div>
        <div class="col-xs-6">
            <a href="https://www.youtube.com/embed/Ssvu2yncgWU" class="thumbnail">
                <iframe width="400" height="200" src="https://www.youtube.com/embed/Ssvu2yncgWU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </a>
        </div>
        <div class="col-xs-6">
            <a href="https://www.youtube.com/embed/Ssvu2yncgWU" class="thumbnail">
                <iframe width="400" height="200" src="https://www.youtube.com/embed/Ssvu2yncgWU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </a>

        </div>
        <div class="col-xs-6">
            <a href="https://www.youtube.com/embed/Ssvu2yncgWU" class="thumbnail">
                <iframe width="400" height="200" src="https://www.youtube.com/embed/Ssvu2yncgWU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </a>

        </div>

    </div>

    <div class="row">
        <div class="col-xs-4">
            <a href="https://www.youtube.com/embed/Ssvu2yncgWU" class="thumbnail">
                <iframe width="400" height="200" src="https://www.youtube.com/embed/Ssvu2yncgWU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </a>

        </div>
        <div class="col-xs-4">
            <a href="https://www.youtube.com/embed/Ssvu2yncgWU" class="thumbnail">
                <iframe width="400" height="200" src="https://www.youtube.com/embed/Ssvu2yncgWU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </a>
        </div>
        <div class="col-xs-4">
            <a href="https://www.youtube.com/embed/Ssvu2yncgWU" class="thumbnail">
                <iframe width="400" height="200" src="https://www.youtube.com/embed/Ssvu2yncgWU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </a>

        </div>
        <div class="col-xs-4">
            <a href="https://www.youtube.com/embed/Ssvu2yncgWU" class="thumbnail">
                <iframe width="400" height="200" src="https://www.youtube.com/embed/Ssvu2yncgWU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </a>

        </div>

    </div>

    <div class="row">
        <div class="col-xs-4">
            <a href="https://www.youtube.com/embed/Ssvu2yncgWU" class="thumbnail">
                <iframe width="400" height="200" src="https://www.youtube.com/embed/Ssvu2yncgWU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </a>

        </div>
        <div class="col-xs-4">
            <a href="https://www.youtube.com/embed/Ssvu2yncgWU" class="thumbnail">
                <iframe width="400" height="200" src="https://www.youtube.com/embed/Ssvu2yncgWU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </a>
        </div>
        <div class="col-xs-4">
            <a href="https://www.youtube.com/embed/Ssvu2yncgWU" class="thumbnail">
                <iframe width="400" height="200" src="https://www.youtube.com/embed/Ssvu2yncgWU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </a>

        </div>
        <div class="col-xs-4">
            <a href="https://www.youtube.com/embed/Ssvu2yncgWU" class="thumbnail">
                <iframe width="400" height="200" src="https://www.youtube.com/embed/Ssvu2yncgWU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </a>

        </div>

    </div>
    @*<div class="col-xs-3">
            <a href="https://www.youtube.com/embed/Ssvu2yncgWU" class="thumbnail">
                <iframe width="400" height="200" src="https://www.youtube.com/embed/Ssvu2yncgWU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </a>

        </div>
        <div class="col-xs-3">
            <a href="https://www.youtube.com/embed/Ssvu2yncgWU" class="thumbnail">
                <iframe width="400" height="200" src="https://www.youtube.com/embed/Ssvu2yncgWU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </a>

        </div>
        <div class="col-xs-3">
            <a href="https://www.youtube.com/embed/Ssvu2yncgWU" class="thumbnail">
                <iframe width="400" height="200" src="https://www.youtube.com/embed/Ssvu2yncgWU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </a>
        </div>
        <div class="col-xs-3">
            <a href="https://www.youtube.com/embed/Ssvu2yncgWU" class="thumbnail">
                <iframe width="400" height="200" src="https://www.youtube.com/embed/Ssvu2yncgWU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </a>
        </div>


        <div class="col-xs-2">
            <a href="https://www.youtube.com/embed/Ssvu2yncgWU" class="thumbnail">
                <iframe width="400" height="200" src="https://www.youtube.com/embed/Ssvu2yncgWU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </a>

        </div>
        <div class="col-xs-2">
            <a href="https://www.youtube.com/embed/Ssvu2yncgWU" class="thumbnail">
                <iframe width="400" height="200" src="https://www.youtube.com/embed/Ssvu2yncgWU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </a>

        </div>
        <div class="col-xs-2">
            <a href="https://www.youtube.com/embed/Ssvu2yncgWU" class="thumbnail">
                <iframe width="400" height="200" src="https://www.youtube.com/embed/Ssvu2yncgWU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </a>
        </div>
        <div class="col-xs-2">
            <a href="https://www.youtube.com/embed/Ssvu2yncgWU" class="thumbnail">
                <iframe width="400" height="200" src="https://www.youtube.com/embed/Ssvu2yncgWU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </a>
        </div>*@

</div>




