@{
    ViewData["Title"] = "Home Page";


    <style type="text/css">
        body {
            background-color: black;
            margin: 0;
           
        }

        h1 {
            color: white;
        }

    </style>

}

<div class="text-center">
    <h1 class="display-4">Music video site Home page</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
