@{
    ViewData["Title"] = "Home Page";


    <style type="text/css">
        body {
            background-color: black;
            margin: 0;
           
        }

        h1 {
            color: white;
        }

    </style>

}

<div class="text-center">
    <h1 class="display-4">Music video site Home page</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h1> Featured</h1>
    <iframe width="780" height="480" src="https://www.youtube.com/embed/Ssvu2yncgWU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
